<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="reset.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Pedra | Papel | Tesoura</title>
</head>

<body>
    <div id="app">
        <div class="panel">
            <h1 style="font-size: 2rem;color: cadetblue;font-weight: bold;">Pedra / Papel / Tesoura</h1>
            <div class="banner">
                <img src="./pedra.jpg" alt="imagem pedra ">
                <img src="./papel.jpg" alt="imagem papel ">
                <img src="./tesoura.jpg" alt="imagem tesoura ">
            </div>

            <form v-if="showForm" class="panel formPlayer">
                <label for=" round">Melhor de quantas partidas?</label>
                <select v-model="round" name="round" id="round">
                    <option value="0"></option>
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="7">7</option>
                    <option value="9">9</option>
                    <option value="11">11</option>
                </select>

                <label for=" numberPlayers">Jocar contra o computador?</label>
                <select v-model="numberPlayers" name="numberPlayers" id="numberPlayers">
                    <option value="0"></option>
                    <option value="1">Sim</option>
                    <option value="2">Não</option>
                </select>

                <div v-if="numberPlayers >= 1" class="formLabel">
                    <label for="namePlayer1">Nome Jogador 1:</label>
                    <input v-model="player1Name" type="text" id="namePlayer1">
                </div>
                <div v-if="numberPlayers == 2" class="formLabel">
                    <label for=" namePlayer2">Nome Jogador 2:</label>
                    <input v-model="player2Name" type="text" id="namePlayer2" required>
                </div>
                <div class="formButton">
                    <button v-if="player1Name.length && player2Name.length" @click="startGame"
                        type="button">Iniciar</button>
                </div>

            </form>

        </div>
        <div v-if="!showForm" class="panel">
            <div class="placar">
                <div>
                    <p>{{player1Name}}</p>
                </div>
                <div>
                    <p> {{player2Name}}</p>
                </div>
            </div>
            <div class="placar">
                <div>
                    <span>Pontos - {{score.player1}}</span>
                </div>
                <div>
                    <span>Pontos - {{score.player2}}</span>
                </div>
            </div>
            <div v-if="maxPointToWin > 0">
                <p style="color: red; margin-bottom: 1rem;">Melhor de {{(maxPointToWin * 2) - 1}}</p>
            </div>

            <div v-if="image.player2 != './interrogacao.jpg'">
                <p style="color: red;margin-bottom: 1rem;">{{msgWin}}</p>
            </div>

            <div v-if="champion.length > 0">
                <p style="color: red; ">{{champion}} - Ganhou</p>
            </div>

            <div class="banner placar ">
                <div>
                    <img :src="image.player1" alt="imagem pedra ">
                </div>
                <div>
                    <img :src="image.player2" alt="imagem papel ">
                </div>
            </div>
            <div v-if="round > 0" class="banner placar ">
                <button class="btnSort" :class="{'btnDisable': !aplicaCss}" @click="sortImage" type="button">Sortear
                </button>
                <button class="btnSort" :class="{'btnDisable': aplicaCss}" @click="sortImage"
                    type="button">Sortear</button>
            </div>

            <div class="formButton">
                <button @click="stopGame" type="button">Sair</button>
                <button style="background-color: rgb(168, 228, 213);" v-if="round == 0" @click="playAgain"
                    type="button">Reiniciar</button>
            </div>

        </div>
    </div>
</body>

<script src="app.js"></script>

</html>